.allFild {
    display: flex;
    width: 100%;
    height: 100%;
}


.selectedFind {
    width: 40%;
    flex-grow: 1;
    border: 2px solid blue;
}

.cardData {
    flex-grow: 1;
}

.cardData div {
    width: 98%;
    height: 40%;
    margin: 5px;
    box-shadow: 0 2px 2px 2px #e3e3e3;
}
